@charset "UTF-8";

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 99;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.bolt_logo {
  color: #4e4e4e;
}

.button_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: #74cfae;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.button_content_item {
  padding: 14px 12px;
  background-color: #74cfae;
  font-size: 12px;
  color: #fff;
  margin: 0 0 0 auto;
  transition: 0.3s;
  cursor: pointer;
}

.button_content_item:hover {
  color:#333;
}

.main {
  padding-top: 62px;
}

.title ,article ,nav {
  width: 100%;
  background-color: #f2f2f2;
}

.title-inner {
  padding-top: 250px;
  padding-bottom: 250px;
}

.bolt_title {
  text-align: center;
  font-size: 90px;
  font-weight: 700;
  font-family: 'Raleway',sans-serif;
  color: #74cfae;
}

.bolt_sub_title {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  color: #c0c0c0;
}

.can-do ,footer {
  width: 100%;
  background-color:#74cfae;
}

.can-do-inner {
  display: flex;
  padding-top: 50px;
  justify-content: space-around;
}

.can-do_thumb_item {
  vertical-align: top;
}

.can-do_heading {
  text-align: center;
  width: 63%
}

.can-do_heading_title {
  font-size: 24px;
  color: #fff;
  font-family: 'Raleway',sans-serif;
  margin-top: 35px;
}

.can-do_heading_text {
  margin-top: 35px;
  font-size: 20px;
  color: #fff;
  line-height: 1.5em;
}

.work-inner {
  padding-top: 60px;
  padding-bottom: 70px;
}

.work_heading {
  text-align: center;
}

.work_heading_title {
  font-size: 24px;
  font-family: 'Raleway',sans-serif;
}

.work_thumb {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.work_thumb_item:nth-child(3n+1) {
  margin-left: 0;
}

.work_thumb_item:nth-child(n+4) {
  margin-top: 80px;
}

.work_thumb_item {
  margin-left: 100px;
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
}

.work_thumb_item:hover {
  opacity: 1;
}

.work_flex {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.work_flex_text {
  text-align: center;
  line-height: 1.5em;
}

.work_flex_button {
  margin-left: 90px;
  align-items: center;
  justify-content: center;
  width: 14%;
}
.work_flex_button_text {
  padding: 14px 20px;
  display: inline-block;
}

.work_flex_button_text:hover {
  color: #333;
}

.skills {
  width: 100%;
  background-color: #4e4e4e;
}

.skills-inner {
  padding-top: 70px;
  padding-bottom: 100px;
}

.skills_heading {
  text-align: center;
}

.skills_heading_title {
  color: #fff;
  font-family: 'Raleway',sans-serif;
  font-size: 24px;
}

.skills_thumb {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.skills_thumb_item:first-child {
  margin-left: 0;
}

.skills_thumb_item {
  margin-left: 180px;
}

.skills_thumb_text {
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}

.sns-inner {
  padding-top: 200px;
  padding-bottom: 200px;
}

.sns_thumb {
  display: flex;
  justify-content: center;
}

.sns_thumb_item {
  width: 185px;
  height: 100px;
  color: #74cfae;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
}

.sns_thumb_item:hover {
  background-color: #fff;
}

.footer-inner {
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer_text {
  color: #fff;
  text-align: right;
}

@media screen and (min-width:1200px) {
  .fa-bars {
    display: none;
  }
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .inner {
    width: 97%;
    margin: 0 auto;
  }

  .fa-bars {
    display: none;
  }
}

@media screen and (max-width:767px) {
  .inner {
    width: 97%;
    margin: 0 auto;
  }

  .button_content {
    display: none;
  }

  .button_content_item {
    display: none;
  }

  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburger_item {
    padding: 10px;
    border: 1px solid#ddd;
    border-radius: 4px;
  }

  .title-inner {
    padding-top: 160px;
    padding-bottom: 130px;
  }

  .bolt_title {
    font-size: 80px;
  }

  .can-do-inner {
    display: block;
    text-align: center;
  }

  .work_thumb {
    display: block;
  }

  .work_thumb_item {
    margin-left: 0;
  }

  .work_thumb_item:nth-child(n+4) {
    margin-top: 0;
  }
  }

  

  
