@charset "UTF-8";

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

body {
  font-family: 'Lato';
}

.heading_font {
  font-family: 'Raleway';
}

.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.bolt_logo {
  color: #4e4e4e;
}

.fa-bars {
  display: none;
}

.button_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: #74cfae;
  color: #fff;
  transition: 0.3s;
}

.button_content_item {
  padding: 14px 12px;
  font-size: 12px;
  margin: 0 0 0 auto;
  text-decoration: none;
}

.button_content_item:hover {
  color:#333;
}

.main {
  padding-top: 62px;
}

.title ,article ,nav {
  background-color: #f2f2f2;
}

.title-inner {
  padding: 250px 0;
}

.bolt_title {
  text-align: center;
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.bolt_sub_title {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  color: #c0c0c0;
}

.can-do ,footer {
  background-color:#74cfae;
}

.can-do-inner {
  display: flex;
  padding-top: 50px;
  justify-content: space-around;
}

.can-do_thumb_item {
  vertical-align: top;
}

.can-do_heading {
  text-align: center;
  width: 63%
}

.can-do_heading_title {
  font-size: 24px;
  color: #fff;
  margin-top: 35px;
}

.can-do_heading_text {
  margin-top: 35px;
  font-size: 20px;
  color: #fff;
  line-height: 1.5em;
}

.work-inner {
  padding: 60px 0 70px 0;
}

.work_heading {
  text-align: center;
}

.work_heading_title {
  font-size: 24px;
}

.work_thumb {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.work_thumb_area {
  display: block;
}

.work_thumb_item:nth-child(3n+1) {
  margin-left: 0;
}

.work_thumb_item:nth-child(n+4) {
  margin-top: 80px;
}

.work_thumb_item {
  margin-left: 100px;
  opacity: 0.7;
  transition: 0.3s;
  text-decoration: none;
}

.work_thumb_item:hover {
  opacity: 1;
}

.work_flex {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.work_flex_text {
  text-align: center;
  line-height: 1.5em;
  width: 49%;
}

.work_flex_button {
  margin-left: 90px;
  align-items: center;
  justify-content: center;
}
.work_flex_button_text {
  padding: 14px 20px;
  display: inline-block;
  text-decoration: none;
}

.work_flex_button_text:hover {
  color: #333;
}

.skills {
  background-color: #4e4e4e;
}

.skills-inner {
  padding: 70px 0 100px 0;
}

.skills_heading {
  text-align: center;
}

.skills_heading_title {
  color: #fff;
  font-size: 24px;
}

.skills_thumb {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.skills_thumb_item:first-child {
  margin-left: 0;
}

.skills_thumb_item {
  margin-left: 180px;
}

.skills_thumb_text {
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}

.sns-inner {
  padding: 200px 0;
}

.sns_thumb {
  display: flex;
  justify-content: center;
}

.sns_thumb_item {
  transition: 0.3s;
}

.sns_thumb_center {
  width: 185px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #74cfae;
}

.sns_thumb_item:hover {
  background-color: #fff;
}

.footer-inner {
  padding: 20px 0 25px 0;
}

.footer_text {
  color: #fff;
  text-align: right;
}


@media (max-width: 1199px) {
  .inner {
    width: 97%;
    margin: 0 auto;
  }

  .can-do-inner ,.skills_thumb ,.work_thumb {
    display: block;
    text-align: center;
  }

  .can-do-inner {
    padding-bottom: 25px;
  }

  .can-do_heading ,.work_flex_text ,.bolt_title {
    margin: 0 auto;
  }

  .work_flex {
    display: block;
  }

  .work_thumb_item {
    margin-left: 0;
  }

  .work_thumb_item:nth-child(n+5) {
    margin-top: 0;
  }

  .work_flex {
    margin-top: 80px;
  }

  .work_flex_text {
    width: 100%;
  }

  .work_flex_button {
    margin-left: 0px;
    text-align: center;
    margin-top: 40px;
  }

  .skills_thumb_item {
    margin-left: 0;
    margin-top: 88px;
  }

}

@media (max-width: 767px) {
  .button_content ,.button_content_item {
    display: none;
  }

  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburger_item {
    padding: 10px;
    border: 1px solid#ddd;
    border-radius: 4px;
  }

  .title-inner {
    padding: 160px 0 130px 0;
  }

  .bolt_title {
    font-size: 80px;
    line-height: 1.2em;
  }

  .bolt_sub_title {
    line-height: 1.2em;
    margin: 20px auto 0 auto;
  }

  .can-do_heading {
    width: 90%;
  }

  .work_flex_text ,.bolt_title {
    margin: 0 auto;
  }

  .sns_thumb ,.fa-bars{
    display: block;
  }

  .work_thumb_area img {
    width: 100%;
  }

  .skills_thumb_item:first-child {
    margin-top: 0;
  }

  .work_flex_text {
    width: 90%;
  }

  .work_flex_button {
    margin: 50px 0;
  }

  .skills_thumb_item {
    margin: 100px 0 0 0;
  }

  .sns_thumb_center {
    height: 150px;
    width: 100%;
  }

  .fa-2x {
    font-size: 3em;
  }
  }

  

  
